html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #F3F3F3;
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  justify-items: center;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 66% auto;

  .hero {
    display: flex;
    background: black;
    width: 100%;
    justify-content: center;

    img.image-of-myself {
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;

    svg.logo {
      height: 4em;
      width: 4em;
      margin: 0 auto;
    }

    h1 {
      font-family: 'Tinos', sans-serif;
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
      margin: .2em;
    }

    p.subtitle {
      font-family: 'Urbanist', sans-serif;
      font-size: .9rem;
      font-weight: 400;
      text-transform: uppercase;
      margin: .2em auto;
      max-width: 500px;
    }

    a {
      margin: 1em auto;
    }

    .icon-linkedin {
      margin: 0 auto;
      display: block;
      width: 3em;
      height: 3em;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      border-radius: 50%;
      transform: scale(1);
      animation: pulse-black 5s infinite;
    }
  }
}

@keyframes pulse-black {
  0%, 25% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
  }

  75%, 100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@media only screen and (min-width: 768px) {

  body {
    font-size: 32px;
  }

  .wrapper {
    grid-template-columns: 50% auto;
    grid-template-areas:
      "content hero";

    .hero {
      grid-area: hero;
    }

    .content {
      grid-area: content;
    }

    .hero, .content {
      height: 100vh;
    }

    .content {

      a {
        margin: .5em auto;
      }

      .icon-linkedin {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}